apiVersion: gateway.networking.k8s.io/v1
kind: ReferenceGrant
metadata:
  name: allow-proxy-to-authentik
  namespace: ${authentik_namespace}
spec:
  from:
%{ for ns in egress_namespaces ~}
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      namespace: ${ns}
%{ endfor ~}
  to:
    - group: ""
      kind: Service
      name: authentik-server
