apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TLSRoute
metadata:
  name: vault-tls-route
  namespace: ${vault_namespace}
spec:
  parentRefs:
    - name: ${gateway_name}
      namespace: ${gateway_namespace}
      sectionName: ${gateway_listener_vault}
  hostnames:
    - "${vault_address}"
  rules:
    - backendRefs:
        - kind: Service
          name: vault
          port: 8200
