apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: grafana-smtp-secret
  namespace: monitoring
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  vaultAuthRef: default
  type: kv-v2
  mount: homelab/infra/kv-secret
  path: platforms/shared/smtp
  rolloutRestartTargets:
    - kind: Deployment
      name: kube-prometheus-stack-grafana
  destination:
    name: grafana-smtp-secret
    create: true