apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: alertmanager-config
  namespace: monitoring
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  vaultAuthRef: default
  type: kv-v2
  mount: homelab/infra/kv-secret
  path: platforms/alertmanager
  destination:
    name: alertmanager-config
    create: true
    type: Opaque
    transformation:
      excludeRaw: true
      excludes:
        - ".*" 
      templates:
        alertmanager.yaml:
          text: |
            global:
              resolve_timeout: 5m
              http_config:
                follow_redirects: true
                enable_http2: true
              smtp_hello: localhost
              smtp_require_tls: true
              smtp_smarthost: '{{ .Secrets.smtp_host }}:{{ .Secrets.smtp_port }}'
              smtp_from: '{{ .Secrets.smtp_from_address }}'
              smtp_auth_username: '{{ .Secrets.smtp_username }}'
              smtp_auth_password: '{{ .Secrets.smtp_password }}'
              smtp_tls_config:
                insecure_skip_verify: false
              slack_app_url: https://slack.com/api/chat.postMessage
              pagerduty_url: https://events.pagerduty.com/v2/enqueue
              opsgenie_api_url: https://api.opsgenie.com/
              wechat_api_url: https://qyapi.weixin.qq.com/cgi-bin/
              victorops_api_url: https://alert.victorops.com/integrations/generic/20131114/alert/
              telegram_api_url: https://api.telegram.org
              webex_api_url: https://webexapis.com/v1/messages
              rocketchat_api_url: https://open.rocket.chat/
            route:
              receiver: "null"
              group_by:
              - namespace
              continue: false
              routes:
              - receiver: "null"
                matchers:
                - alertname="Watchdog"
                continue: false
              - receiver: smtp-receiver
                matchers:
                - severity=~"warning|critical"
                continue: false
              group_wait: 30s
              group_interval: 5m
              repeat_interval: 12h
            inhibit_rules:
            - source_matchers:
              - severity="critical"
              target_matchers:
              - severity=~"warning|info"
              equal:
              - namespace
              - alertname
            - source_matchers:
              - severity="warning"
              target_matchers:
              - severity="info"
              equal:
              - namespace
              - alertname
            - source_matchers:
              - alertname="InfoInhibitor"
              target_matchers:
              - severity="info"
              equal:
              - namespace
            - target_matchers:
              - alertname="InfoInhibitor"
            receivers:
            - name: "null"
            - name: smtp-receiver
              email_configs:
              - to: '{{ .Secrets.smtp_receiver }}'
                send_resolved: true
            templates:
            - /etc/alertmanager/config/*.tmpl