apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: argocd-secret
  namespace: ${namespace}
spec:
  vaultAuthRef: ${auth_ref}
  mount: ${kv_path}
  type: kv-v2
  path: platforms/argocd
  refreshAfter: 30s

  # Destination Kubernetes secret
  destination:
    name: argocd-secret
    create: true