apiVersion: "cilium.io/v2"
kind: CiliumNetworkPolicy
metadata:
  name: authentik-postgresql-network-policy
  namespace: ${authentik_namespace}
spec:
  endpointSelector:
    matchLabels:
      app: postgres
  ingress:
    - fromEndpoints:
        - matchLabels:
            app.kubernetes.io/instance: authentik
      toPorts:
        - ports:
            - port: "5432"
              protocol: TCP
  egress:
    - {}