namespaceOverride: "monitoring"
fullnameOverride: "prom-stack"

global:
  shared:
    domain: "homelab.ikabbash.com"

prometheusOperator:
  enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

nodeExporter:
  enabled: true

kubeStateMetrics:
  enabled: true

# Replaced by Cilium
kubeProxy:
  enabled: false

kubeControllerManager:
  enabled: false

kubeScheduler:
  enabled: false

kubeEtcd:
  enabled: false

defaultRules:
  create: true