grafana:
  enabled: true
  initChownData:
    enabled: false
  defaultDashboardsTimezone: "Africa/Cairo"
  persistence:
    type: pvc
    enabled: true
    storageClassName: openebs-hostpath
    size: 5Gi
  ingress:
    enabled: false
  route:
    main:
      enabled: true
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      hostnames:
        - grafana.{{ .Values.global.shared.domain }}
      parentRefs:
        - group: gateway.networking.k8s.io
          kind: Gateway
          name: homelab-gw
          namespace: cilium-gateway
          sectionName: homelab-https
      matches:
        - path:
            type: PathPrefix
            value: /
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  securityContext:
    fsGroup: 472
  extraSecretMounts:
    - name: oauth-secret
      secretName: grafana-oauth-secret
      defaultMode: 0440
      mountPath: /etc/secrets/grafana
      readOnly: true
  grafana.ini:
    server:
      root_url: "https://grafana.{{ .Values.global.shared.domain }}"
    security:
      disable_initial_admin_creation: true
    users:
      allow_sign_up: false
      auto_assign_org: true
      auto_assign_org_role: "None"
    auth:
      signout_redirect_url: "https://authentik.{{ .Values.global.shared.domain }}/application/o/grafana/end-session/"
      oauth_auto_login: true
    auth.anonymous:
      enabled: false
    auth.generic_oauth:
      name: authentik
      enabled: true
      client_id: $__file{/etc/secrets/grafana/client_id}
      client_secret: $__file{/etc/secrets/grafana/client_secret}
      scopes: "openid profile email"
      auth_url: "https://authentik.{{ .Values.global.shared.domain }}/application/o/authorize/"
      token_url: "https://authentik.{{ .Values.global.shared.domain }}/application/o/token/"
      api_url: "https://authentik.{{ .Values.global.shared.domain }}/application/o/userinfo/"
      # JMESPath expression
      role_attribute_path: contains(groups, 'homelab-admins') && 'Admin' || contains(groups, 'homelab-viewers') && 'Viewer' || 'None'
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default
  dashboards:
    default: # default is the name of the dashboard provider created above
      # Import from Grafana.com by ID
      vault:
        gnetId: 12904
        datasource: Prometheus