controller:
  kind: daemonset
  service:
    create: true
    type: "LoadBalancer"
    externalIPs:
      - ${loadbalancer_ip}
  enableCertManager: true
  enableCustomResources: true
  enableTLSPassthrough: true
  tlsPassThroughPort: 443