apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuthGlobal
metadata:
  name: default
  namespace: ${vso_namespace}
spec:
  allowedNamespaces:
%{ for ns in vso_bound_namespaces ~}
    - ${ns}
%{ endfor ~}
  vaultConnectionRef: ${vso_namespace}/${vso_connection_name}
  defaultAuthMethod: kubernetes
  kubernetes:
    mount: ${kubernetes_auth_path}
    role: ${vso_role_name}
    serviceAccount: ${vso_service_account}
    audiences:
      - ${vso_audience}
