defaultVaultConnection:
  enabled: false

defaultAuthMethod:
  enabled: false

controller:
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: false
