apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultConnection
metadata:
  name: ${vso_connection_name}
  namespace: ${vso_namespace}
spec:
  address: https://${vault_address}:443
  skipTLSVerify: false