apiVersion: cilium.io/v2
kind: CiliumLoadBalancerIPPool
metadata:
  name: ${pool_name}
spec:
  blocks:
    - cidr: "${pool_ip}/32"
  serviceSelector:
    matchLabels:
      io.kubernetes.service.namespace: ${gateway_namespace}
      io.kubernetes.service.name: cilium-gateway-${service_gateway_name}