operatorNamespace: ${rook_namespace}

toolbox:
  enabled: true

cephClusterSpec:
  skipUpgradeChecks: false
  dataDirHostPath: /var/lib/rook
  dashboard:
    enabled: true
  crashCollector:
    disable: true
  monitoring:
    enabled: false
  storage:
    useAllDevices: false
    useAllNodes: true
    deviceFilter: "^sda7$"
  mon:
    count: 1
    allowMultiplePerNode: true
  mgr:
    count: 1
    allowMultiplePerNode: true
    modules:
      - name: rook
        enabled: true