apiVersion: "cilium.io/v2alpha1"
kind: CiliumL2AnnouncementPolicy
metadata:
  name: nginx-ingress-l2-policy
spec:
  externalIPs: true
  interfaces:
    - '^(eth0|ens.*|enp[0-9s]+)$'
  serviceSelector:
    matchLabels:
      app.kubernetes.io/name: nginx-ingress
      app.kubernetes.io/instance: nginx-ingress