namespaceOverride: "monitoring"
fullnameOverride: "prom-stack"

prometheusOperator:
  enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

nodeExporter:
  enabled: true

kubeStateMetrics:
  enabled: true

kubeProxy:
  enabled: false