grafana:
  enabled: true
  initChownData:
    enabled: false
  defaultDashboardsTimezone: "Africa/Cairo"
  persistence:
    type: pvc
    enabled: true
    storageClassName: openebs-hostpath
    size: 5Gi
  ingress:
    enabled: false
  route:
    main:
      enabled: true
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      hostnames:
        - grafana.{{ .Values.global.shared.domain }}
      parentRefs:
        - group: gateway.networking.k8s.io
          kind: Gateway
          name: homelab-gw
          namespace: cilium-gateway
          sectionName: homelab-https
      matches:
        - path:
            type: PathPrefix
            value: /
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  securityContext:
    fsGroup: 472