prometheus:
  prometheusSpec:
    serviceMonitorSelector: {}  # Select all ServiceMonitors
    serviceMonitorNamespaceSelector: {}  # From all namespaces
    podMonitorSelector: {}
    podMonitorNamespaceSelector: {}
    # To pickup podMonitor and serviceMonitors automatically across all namespaces
    podMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    retention: "10d"
    retentionSize: "50GB"
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: "openebs-hostpath" 
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
    resources:
      requests:
        cpu: 500m
        memory: 2Gi
      limits:
        cpu: 2000m
        memory: 4Gi
  ingress:
    enabled: false
  route:
    main:
      enabled: true
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      hostnames:
        - prometheus.{{ .Values.global.shared.domain }}
      parentRefs:
        - group: gateway.networking.k8s.io
          kind: Gateway
          name: homelab-gw
          namespace: cilium-gateway
          sectionName: homelab-https
      matches:
        - path:
            type: PathPrefix
            value: /
  additionalScrapeConfigs: []
    # - job_name: 'custom-app'
    #   kubernetes_sd_configs:
    #     - role: pod
    #   relabel_configs:
    #     - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
    #       action: keep
    #       regex: true