apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ${secret_name}
  namespace: ${namespace}
spec:
  dnsNames:
    - ${subdomain}.${domain}
  secretName: ${secret_name}
  issuerRef:
    name: ${cluster_issuer}
    kind: ClusterIssuer
  usages:
    - digital signature
    - key encipherment